/*
    Primary dark-blue: #222a35
    Primary light-blue: #90bfdc
    Primary white: #f6f6f4

*/

html {
    background:no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    background-color: #f6f6f4;
    font-family: Calibri;
    color: #222a35;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 4em;
    margin-top: 3em;
    margin-bottom: 5em;
}

.identity {

}

.personal-name {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

.professional-title {
    font-size: 1.25em;
    text-align: center;
}

.flex-container {
    display: flex;
    justify-content: center;
    margin: 5em;
}

    .flex-container > div {
        width: 1.15em;
        height: 1.15em;
        margin: 0.3em;
        text-align: center;
        line-height: 35px;
        font-size: 2em;
    }

        .flex-container > div.icon {
            background-repeat: no-repeat;
            background-position: 50% 50%;
        }

        .flex-container > div.linkedin {
            background-image: url("./img/linkedin_icon.svg");
            overflow: visible;
        }

        .flex-container > div.twitter {
            background-image: url("./img/Twitter_Social_Icon_Circle_Color.svg");
            overflow: visible;
        }

        .flex-container > div.github {
            background-image: url("./img/GithubIcon.svg");
            overflow: visible;
        }

.footer-container {
    display: flex;
    justify-content: center;
}

    .footer-container > div {
        text-align: center;
    }
