/*
    Primary dark-blue: #222a35
    Primary light-blue: #90bfdc
    Primary white: #f6f6f4

*/

body {
    background-color: #f6f6f4;
    font-family: Calibri;
    color: #222a35;
}

h1 {
    text-align: center;
}

.flex-container {
    display: flex;
    justify-content: center;
    background-color: #222a35;
}

    .flex-container > div {
        color: #f6f6f4;
        width: 100px;
        margin: 10px;
        text-align: center;
        line-height: 35px;
        font-size: 30px;
    }

.footer-container {
    display: flex;
    justify-content: center;
}

    .footer-container > div {
        margin: 10px;
        text-align: center;
    }
